{% comment %}
Komentar via Giscus (gratis, berbasis GitHub Discussions).
Terhubung ke aditiya-saputra/aditiya-saputra.github.io, kategori Announcements.
{% endcomment %}
<div class="giscus"></div>
<script src="https://giscus.app/client.js"
  data-repo="aditiya-saputra/aditiya-saputra.github.io"
  data-repo-id="R_kgDOUMc0vA"
  data-category="Announcements"
  data-category-id="DIC_kwDOUMc0vM4DFza4"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="id"
  crossorigin="anonymous"
  async></script>
